@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid; 

@import "home";
@import "news"; 
@import "monthly"; 
@import "articles"; 
@import "home-nav";
@import "footer";

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}