<section class="monthly">
    <h2>Brewery of the Month</h2>

    <ul class="monthSec" ng-repeat="brewery in monthly">
        <img class="monthBrewImg" src="{{brewery.image}}">
        <h3 class="name">{{brewery.name}}</h3>
    </ul>

    <h3 class="listTitle">Featured Breweries</h3>
        <ul class="list">
            <li>Bold Missy</li>
            <li>Legion</li>
            <li>Triple C</li>
        </ul>

    <h3 class="listTitle">Events</h3>
        <ul class="list">
            <li>Queens Feast</li>
            <li>Uptown Crawl</li>
            <li>Burger Fest</li>
        </ul>

</section>